*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Editors
*~
*.backup
*.bak
*.nja
.*.sw[po]

# Debian package
/debian/*.log
/debian/*.debhelper
/debian/*.substvars
/debian/files
/debian/autoneighxy
/debian/tmp
